<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
    {% block Link %}
    {% endblock %}
    <link rel="stylesheet" href="css/style.css">    
</head>
<body>
    {% import "__mixin.njk" as mixin %}
    
    
    {% if noScroll %}
        <header>
    {% else %}
        <header class="header-scroll-sticky">
    {% endif %}
        {% include "include/header.njk" %}
        {% include "include/mob-menu.njk" %}
        {% block Header %}

        {% endblock %}
    </header>
    <main class="main">
        {% block Content %}

        {% endblock %}
    </main>

    
    <footer>
        {% if noFooter %}
            
        {% else %}
            {% include "include/footer.njk" %}
        {% endif %}
    </footer>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/inputmask.js"></script>
    <script src="js/main.js"></script>
    {% block Scripts %}
    {% endblock %}
</body>
</html>