.activities {
	margin-bottom: 80px;
	@media (max-width: 575px) {
		margin-bottom: 45px;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@media (max-width:1100px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: 575px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}

.info-about-company {
	position: relative;
	margin-bottom: 60px;
	@media (max-width: 1023px) {
		margin-bottom: 25px;
	}
	@media (max-width: 575px) {
		margin-bottom: 50px;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		top: 0;
		background: linear-gradient(180deg, #174EFF 0%, rgba(23, 78, 255, 0) 100%);
		opacity: 0.03;
	}

	&__container {
		position: relative;
		z-index: 1;
		padding: 67px 0 72px;
		@media (max-width: 1023px) {
			padding: 67px 0 20px;
		}
		@media (max-width: 575px) {
			padding: 30px 0 20px;
		}
	}

	&__wrapper {
		display: grid;
		grid-template-columns: 57.4% 1fr;
		column-gap: 144px;
		@media (max-width:1280px) {
			grid-template-columns: 65.12% 1fr;
			column-gap: 36px;
		}
		@media (max-width: 1023px) {
			grid-template-columns: 1fr;
			row-gap: 35px;
		}
	}

	&__right {
		padding-top: 11px;
		@media (max-width:1280px) {
			padding-top: 6px;
		}
		@media (max-width: 1023px) {
			padding-top: 0;
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 32px;
		}
		@media (max-width: 575px) {
			grid-template-columns: 1fr;
			gap: 25px;
		}
	}
}

.projects {
	margin-bottom: 60px;
	@media (max-width: 575px) {
		margin-bottom: 35px;
	}

	&__wrap-bg {
		position: relative;
		padding-bottom: 80px;
		@media (max-width: 575px) {
			padding-bottom: 45px;
		}

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 200px;
			bottom: 0;
			right: 0;
			background: linear-gradient(180deg, #174EFF 0%, rgba(23, 78, 255, 0) 100%);
			opacity: 0.03;
			transform: rotate(-180deg);
		}
	}

	&__wrapper {
		overflow: hidden;
	}
}

.map {
	width: 100%;
	min-height: 600px;
	@media (max-width: 575px) {
		min-height: 400px;
	}
}


.projects-slider {
	margin-top: -200px;
	padding-top: 40px;
	position: relative;
	z-index: 1;
	height: auto;
	@media (max-width: 575px) {
		margin-top: -65px;
	}

	&__container {
		overflow: visible;
		margin-bottom: 45px;
		@media (max-width: 575px) {
			margin-bottom: 30px;
		}
	}

	&__wrapper {
		height: auto;
	}

	&__slide {
		height: auto;
		@media (max-width:1280px) {
			max-width: 368px;
		}
		@media (max-width: 1023px) {
			max-width: 328px;
		}
		@media (max-width: 575px) {
			max-width: inherit;
		}

		.prevue-block-two {
			&:hover {
				transform: translateY(-8px);
				box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.2);
				@media (max-width: 575px) {
					transform: none;
					box-shadow: none;
				}
			}
		}
	}
}

.our-customers {
	overflow: hidden;
	.slider-navigation {
		display: flex;
		align-items: center;
		@media (max-width: 575px) {
			flex-direction: row-reverse;
			justify-content: flex-end;
		}

		&__wrap-arrow {
			margin-left: 15px;
			@media (max-width: 575px) {
				margin-left: 0;
				margin-right: 15px;
			}
		}
	}
	&__slider {
		.container {
			@media (max-width: 575px) {
				padding: 0;
			}
		}
	}
	&__container {
		height: auto;
		overflow: visible;
	}
	&__wrapper {
		height: auto;
	}
	&__slide {
		height: auto;
		@media (max-width:1280px) {
			max-width: 438px;
		}
		@media (max-width: 575px) {
			max-width: inherit;
		}
		.customers-block {
			height: 100%;
		}
	}
}

