.activities {
	margin-bottom: 80px;

	&:last-child {
		margin-bottom: 0;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}

.info-about-company {
	position: relative;
	margin-bottom: 60px;

	&:last-child {
		margin-bottom: 0;
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		top: 0;
		background: linear-gradient(180deg, #174EFF 0%, rgba(23, 78, 255, 0) 100%);
		opacity: 0.03;
	}

	&__container {
		position: relative;
		z-index: 1;
		padding: 67px 0 72px;
	}

	&__wrapper {
		display: grid;
		grid-template-columns: 57.4% 1fr;
		column-gap: 144px;
	}

	&__right {
		padding-top: 11px;
	}
}

.projects {
	margin-bottom: 60px;

	&__wrap-bg {
		position: relative;
		padding-bottom: 80px;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 200px;
			bottom: 0;
			right: 0;
			background: linear-gradient(180deg, #174EFF 0%, rgba(23, 78, 255, 0) 100%);
			opacity: 0.03;
			transform: rotate(-180deg);
		}
	}

	&__wrapper {
		overflow: hidden;
	}
}

.map {
	width: 100%;
	min-height: 600px;
}


.projects-slider {
	margin-top: -200px;
	padding-top: 40px;
	position: relative;
	z-index: 1;
	height: auto;

	&__container {
		overflow: visible;
		margin-bottom: 45px;
	}

	&__wrapper {
		height: auto;
	}

	&__slide {
		height: auto;

		.prevue-block-two {
			&:hover {
				transform: translateY(-8px);
				box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.2);
			}
		}
	}
}

.our-customers {
	overflow: hidden;
	.slider-navigation {
		display: flex;
		align-items: center;

		&__wrap-arrow {
			margin-left: 15px;
		}
	}
	&__container {
		height: auto;
		overflow: visible;
	}
	&__wrapper {
		height: auto;
	}
	&__slide {
		height: auto;
		.customers-block {
			height: 100%;
		}
	}
}

