// Font
$mainFont: 'Inter', sans-serif;

// Size
$mainFontColor: #4F5054;
$mainFontSize: 14px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

// Font Size
$smFontSize: 12px;
$reFontSize: 14px;
$mdFontSize: 16px;
$lgFontSize: 18px;

$desktopWidth: 1312px;
$smDesktopWidth: 991px;
$tableWidth: 767px;
$phoneWidth: 575px;
$smPhoneWidth: 320px;

//offset
$footer-offset: 37px;