{% extends "__layout.njk" %}

{% block Link %}
{% endblock %}

{% block Header %}

{% endblock %}

{% block Content %}  
  <section class="wrap-offset">
    <div class="container">
      <div class="area-container">
        
      </div>
    </div>
  </section>
	{% include "include/modal.njk" %}
{% endblock %}

{% block Scripts %}
{% endblock %}