{% extends "__layout.njk" %}

{% block Link %}
{% endblock %}

{% block Header %}

{% endblock %}

{% block Content %}  
  <section class="first-screen">
    <picture class="first-screen__bg">
      <source srcset="img/first-screen-bg3.webp" type="image/webp">
      <source srcset="img/first-screen-bg3.jpg" type="image/jpeg">
      <img src="img/first-screen-bg3.webp" alt="">
    </picture>
    {# <video class="first-screen__video" poster="img/first-screen-bg.jpg" autoplay loop muted>
      <source src="video/video-bg.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video> #}
    <div class="container">
      <div class="first-screen__container first-screen__container--change">
        <h1 class="first-screen__title">Ошибка 404. <br>Страница не найдена 
        </h1>
        <span class="text-md text-md--white">Страница, на которую Вы хотели перейти, не найдена. Возможно, введен некорректный адрес или страница была удалена.</span>
        <button class="block-btn-two block-btn-two--change">
          <div class="block-btn-two__animate"></div>
          <span>ПЕРЕЙТИ НА ГЛАВНУЮ</span>
        </button>
      </div>
    </div>
  </section>
	{% include "include/modal.njk" %}
{% endblock %}

{% block Scripts %}
{% endblock %}