{% extends "__layout.njk" %}

{% block Link %}
	<link rel="stylesheet" href="css/swiper.css">
	<link rel="stylesheet" href="css/choices.min.css">
{% endblock %}

{% block Header %}

{% endblock %}

{% block Content %}
	{% include "include/first-screen.njk" %}

	<div class="wrapper-scroll-header">
		<section class="scroll-header">
			<div class="scroll-header__scroll-wrap">
				<div class="container">
					<div class="scroll-header__container">
						<div class="scroll-header__left">
							<div class="logo">
								<img src="img/svg-min/logo2.svg" alt="">
								{# <span class="logo__text">Кубаньводпроект</span> #}
							</div>
							 <nav class="navigation">
								<ul class="navigation__list">
									<li class="navigation__item">
										<a href="" class="navigation__link">ИНСТИТУТ</a>
										<ul class="dropdown">
											<li class="dropdown__item"><a href="" class="dropdown__link">Об институте</a></li>
											<li class="dropdown__item"><a href="" class="dropdown__link">Страницы истории</a></li>
											<li class="dropdown__item"><a href="" class="dropdown__link">Участие в конкурсах</a></li>
											<li class="dropdown__item"><a href="" class="dropdown__link">Коллектив</a></li>
										</ul>
									</li>
									<li class="navigation__item">
										<a href="" class="navigation__link">УСЛУГИ</a>
										<ul class="dropdown">
											<li class="dropdown__item"><a href="" class="dropdown__link">Об институте</a></li>
											<li class="dropdown__item"><a href="" class="dropdown__link">Страницы истории</a></li>
										</ul>
									</li>
									<li class="navigation__item">
										<a href="" class="navigation__link">ПРОЕКТЫ</a>
										<ul class="dropdown">
											<li class="dropdown__item"><a href="" class="dropdown__link">Об институте</a></li>
											<li class="dropdown__item"><a href="" class="dropdown__link">Страницы истории</a></li>
											<li class="dropdown__item"><a href="" class="dropdown__link">Участие в конкурсах</a></li>
											<li class="dropdown__item"><a href="" class="dropdown__link">Коллектив</a></li>
										</ul>
									</li>
									<li class="navigation__item">
										<a href="" class="navigation__link">Контакты</a>
										<ul class="dropdown">
											<li class="dropdown__item"><a href="" class="dropdown__link">Об институте</a></li>
										</ul>
									</li>
								</ul>
							</nav>
						</div>
						<div class="scroll-header__right">
							<a href="#" class="tel tel--black">8 (861) 253-73-35</a>
							<button class="block-btn" data-click-modal="call-modal">
								<span class="block-btn__text block-btn__text--blue">ЗАКАЗАТЬ ЗВОНОК</span>
							</button>
							<div class="change-language">
								<span class="change-language__text">EN</span>
							</div>
							<div class="wrap-search">
								<div class="search-field">
									<form action="" class="search-field__form">
										<div class="search-field__wrap">
											<label class="search-field__wrap-field">
												<svg><use xlink:href="img/sprite.svg#search-icon"></svg>
												<input type="text" class="search-field__input">
											</label>
											<button class="search-field__btn">
												<span class="search-field__text">НАЙТИ</span>
											</button>
										</div>
									</form>
								</div>
								<div class="search-icon">
									<div class="search-icon__wrap">
										<svg><use xlink:href="img/sprite.svg#search-icon"></svg>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>		
		</section>
		<section class="activities" id="ancor">
			<div class="container">
				<div class="activities__container">
					<div class="row-title">
						<h2 class="title">Направления деятельности</h2>
					</div>
					<div class="activities__grid">
						{{ mixin.prevueBlock('prevue-bg1', 'prevue-icon1', 'Разработка проектной и рабочей документации') }}
						{{ mixin.prevueBlock('prevue-bg2', 'prevue-icon2', 'Проектирование специальных сооружений') }}
						{{ mixin.prevueBlock('prevue-bg3', 'prevue-icon3', 'Разработка специальных разделов проектной документации') }}
						{{ mixin.prevueBlock('prevue-bg4', 'prevue-icon4', 'Проектный инжиниринг') }}
						{{ mixin.prevueBlock('prevue-bg5', 'prevue-icon5', 'Функции генерального проектировщика') }}
						{{ mixin.prevueBlock('prevue-bg6', 'prevue-icon6', 'Инженерные изыскания') }}
					</div>
				</div>
			</div>
		</section>
		<section class="info-about-company">
			<div class="container">
				<div class="info-about-company__container">
					<div class="row-title">
						<h2 class="title">АО «Кубаньводпро&shy;ект»</h2>
						<a href="#" class="btn-more">
							<span class="btn-more__text">О КОМПАНИИ</span>
							<div class="btn-more__square"></div>
						</a>
					</div>
					<hr class="line-up">
					<div class="info-about-company__wrapper">
						<div class="info-about-company__left">
							<div class="info-about-company__aray aray-text">
								<blockquote>Началом деятельности института является 1929 год, когда на Кубани было организовано Управление по мелиорации приазовских и прикубанских плавней «Плавстрой». Основной его задачей было проектирование и строи­тельство защитных сооружений от затопления пойменных земель, осушение болотистых плавней в низовьях р. Кубани и строительство на освоенных землях рисовых систем.</blockquote>
								<p>На протяжении своей деятельности институт неоднократно менял свое наименование и подчиненность. В 1993 году Кубанский государственный проектный и научно-исследовательский институт «Кубаньгипроводхоз» Ми­нистерства мелиорации и водного хозяйства СССР был преобразован в от­крытое акционерное общество проектно-изыскательский институт «Куба­ньводпроект».</p>
								<p>АО «Кубаньводпроект» - это многопрофильная организация, способная выполнять проектно-изыскательские работы на современном техническом уровне. Функционирует, сертифицированная на соответствие требованиям ГОСТ Р ИСО 9001-2008 (ИСО 9001:2008), система менеджмента качества.</p>
								<p>Институт имеет хорошую оснащенность компьютерной техникой, изме­рительными приборами и устройствами, транспортными средствами, обору­дованием для топогеодезических, инженерно-геологических и гидрологи­ческих изысканий, располагает большим научно-техническим фондом. АО «Кубаньводпроект» имеет собственный товарный знак. Мы всегда открыты для сотрудничества со всеми организациями в области проектирования во­дохозяйственных, промышленно-гражданских объектов, туристических и ре­креационных комплексов.</p>
							</div>
						</div>
						<div class="info-about-company__right">
							{{ mixin.infoBlock('info-icon1', 'Работаем с 1929 года', 'Несколько слов о огромном опыте работ и о том, что компании исполнилось уже 92 года!') }}
							{{ mixin.infoBlock('info-icon2', 'Более 10 000 проектов', 'Несколько слов о том какие крупные и важные проекты выполняет Кубаньводпроект на протажении 90 лет') }}
							{{ mixin.infoBlock('info-icon3', 'Проектирование в 20 странах мира', 'Кубы, Венгрии, Вьетнама, Лаоса, Ирака, Мозамбика, Мадагаскара, Сирии, Анголы, Алжира и других стран.') }}
							{{ mixin.infoBlock('info-icon4', 'Ведущее предприятие Юга России', 'по проектированию мелиоративных и водохозяйственных объектов, укре­плению морских и речных берегов на Юге России, объектам горного и морского туризма.') }}
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<section class="projects">
			<div class="container">
				<div class="row-title">
					<h2 class="title">Проекты</h2>
					<div class="row-title__flex">
						<span class="text">Выберите направление деятельности:</span>
						<div class="filter-select-wrap">
							<select name="" id="" class="filter-select">
								<option placeholder>Все направления</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="projects__wrapper">
				<div class="map" id="map"></div>
				<div class="projects__wrap-bg">
					<div class="container">
						<div class="projects__container">
							<div class="projects-slider">
								<div class="projects-slider__container swiper">
									<div class="projects-slider__wrapper swiper-wrapper">
										{{ mixin.slidePrevueBlockTwo('prevue-two-bg1', 'НАПРАВЛЕНИЕ ДЕЯТЕЛЬНОСТИ', 'Краснодарское водохранилище Краснодарское водохранилище', 'Республика Адыгея') }}
										{{ mixin.slidePrevueBlockTwo('prevue-two-bg2', 'НАПРАВЛЕНИЕ ДЕЯТЕЛЬНОСТИ', 'Рисовые чеки', 'Краснодар') }}
										{{ mixin.slidePrevueBlockTwo('prevue-two-bg3', 'НАПРАВЛЕНИЕ ДЕЯТЕЛЬНОСТИ', 'Вантовый мост г. Краснодар', 'Краснодар') }}
										{{ mixin.slidePrevueBlockTwo('prevue-two-bg4', 'НАПРАВЛЕНИЕ ДЕЯТЕЛЬНОСТИ', 'Тиховский гидроузел', 'Абинский район') }}
										{{ mixin.slidePrevueBlockTwo('prevue-two-bg5', 'НАПРАВЛЕНИЕ ДЕЯТЕЛЬНОСТИ', 'Федоровский гидроузел', 'Фёдоровское сельское поселение') }}
									</div>
								</div>
								<div class="slider-navigation">
									<div class="slider-navigation__wrap">
										<div class="slider-navigation__wrap-arrow">
											<div class="arrow-slider arrow-slider--prev projects-slider__arrow-prev">
												<svg><use xlink:href="img/sprite.svg#short-arrow"></svg>
											</div>
											<div class="arrow-slider projects-slider__arrow-next">
												<svg><use xlink:href="img/sprite.svg#short-arrow"></svg>
											</div>
										</div>
										<div class="projects-slider__fraction fraction-slider"></div>
									</div>
									<button class="block-btn-two">
										<div class="block-btn-two__animate"></div>
										<span>ВСЕ ПРОЕКТЫ</span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="our-customers">
			<div class="container">
				<div class="our-customers__container">
					<div class="row-title">
						<h2 class="title">Наши заказчики</h2>
						<div class="slider-navigation">
							<div class="fraction-slider our-customers__fraction"></div>
							<div class="slider-navigation__wrap-arrow">
								<div class="arrow-slider arrow-slider--prev our-customers__arrow-prev">
									<svg><use xlink:href="img/sprite.svg#short-arrow"></svg>
								</div>
								<div class="arrow-slider our-customers__arrow-next">
									<svg><use xlink:href="img/sprite.svg#short-arrow"></svg>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="our-customers__slider">
				<div class="container">
					<div class="our-customers__container swiper">
						<div class="our-customers__wrapper swiper-wrapper">
							{{ mixin.slideCustomersBlock('customers-logo1', 'ФГУ «Краснодарское водохранилище»') }}
							{{ mixin.slideCustomersBlock('customers-logo2', '000 «Ильский НПЗ»') }}
							{{ mixin.slideCustomersBlock('customers-logo3', 'ГБУ КК «Управление по эксплуатации и капитальному строительству гидротехнических сооружений Краснодарского края»') }}
							{{ mixin.slideCustomersBlock('customers-logo4', 'Государственное казенное учреждение «Главное управление строительства Краснодарского края (ГКУ «ГУСКК»)') }}
							{{ mixin.slideCustomersBlock('customers-logo5', 'Департамент автомобильных дорог Краснодарского края') }}
							{{ mixin.slideCustomersBlock('customers-logo6', 'Кубанское бассейновое водное управление') }}
							{{ mixin.slideCustomersBlock('customers-logo7', 'Министерство природных ресурсов Краснодарского края') }}
							{{ mixin.slideCustomersBlock('customers-logo8', 'Министерство сельского хозяйства и перерабатывающей промышленности Краснодарского края') }}
							{{ mixin.slideCustomersBlock('customers-logo9', 'ООО «Роза Хутор»') }}
							{{ mixin.slideCustomersBlock('customers-logo10', 'ФГБУ «Управление Кубаньмелиоводхоз»') }}
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	{% include "include/modal.njk" %}
{% endblock %}

{% block Scripts %}
	<script src="js/swiper.min.js"></script>
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&fc075a8b-9c59-4b8d-b8cb-0172442a14a7" type="text/javascript"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="js/choices.min.js"></script>
	<script>
		let changeScrollNumber = 0;
		const header = document.querySelector('header').scrollHeight;
		const firstScreen = document.querySelector('.first-screen').scrollHeight;
		const firstScroll = header + firstScreen;

		if (document.documentElement.clientWidth > 1023) {
			if (window.pageYOffset >= firstScroll) {
				document.querySelector('body').classList.remove('hiden');
				changeScrollNumber = 1;
			} else if (window.pageYOffset > 0) {
				document.querySelector('body').classList.remove('hiden');
				changeScrollNumber = 1;
			} else {
				document.querySelector('body').classList.add('hiden');
			}
		}	

		document.querySelectorAll('.arrow-scroll').forEach(link => {

			link.addEventListener('click', function (e) {


				let href = this.getAttribute('href');

				const scrollTarget = document.querySelector(href);

				const topOffset = document.querySelector('.scroll-header').scrollHeight;
				const elementPosition = scrollTarget.getBoundingClientRect().top;
				const offsetPosition = elementPosition - topOffset;

				window.scrollBy({
					top: firstScroll - 210,
					behavior: 'smooth'
				});
				document.querySelector('body').classList.remove('hiden');
				changeScrollNumber = 1;
				e.preventDefault();
			});
		});

		if (document.documentElement.clientWidth > 1023) {
			window.addEventListener("wheel", event => {
				if (window.pageYOffset <= firstScroll && changeScrollNumber === 0) {
					window.scrollBy({
						top: firstScroll - 210,
						behavior: 'smooth'
					});
					changeScrollNumber = 1;
				} else if (changeScrollNumber === 1) {
					document.querySelector('body').classList.remove('hiden');
				};
			});
		};

		const choices = new Choices('.filter-select', {
			itemSelectText: '',
			searchEnabled: false,
			placeholder: true,
		});

		ymaps.ready(init);
		function init () {
				var myMap = new ymaps.Map('map', {
						center: [45.035470, 38.975313],
						zoom: 10
				}, {
						searchControlProvider: 'yandex#search'
				}),
				objectManager = new ymaps.ObjectManager({
						// Чтобы метки начали кластеризоваться, выставляем опцию.
						clusterize: true,
						// ObjectManager принимает те же опции, что и кластеризатор.
						gridSize: 32,
						clusterDisableClickZoom: true
				});

				myMap.behaviors.disable(['scrollZoom']);

				objectManager.objects.options.set( {
						iconLayout: 'default#image',
						iconImageHref: 'img/svg-min/balun.svg',
						iconImageSize: [30, 40],
						iconImageOffset: [-3, -42]
				});

				objectManager.objects.overlays.events.add('mouseenter', function (e) { 
					objectManager.objects.setObjectOptions(
						e.get('objectId'),
						{
							iconImageHref: 'img/svg-min/balun2.svg'
						}
					);
				});
				objectManager.objects.overlays.events.add('mouseleave', function (e) {
					objectManager.objects.setObjectOptions(
						e.get('objectId'),
						{
							iconImageHref: 'img/svg-min/balun.svg'
						}
					);
				});

				fetch('js/projects.json').then(response => response.json()).then(data => {
					objectManager.add(data);
				});

				objectManager.clusters.options.set('preset', 'islands#greenClusterIcons');
				myMap.geoObjects.add(objectManager);
		};

		const swiper = new Swiper('.projects-slider__container', {
			slidesPerView: 3,
			spaceBetween: 32,
			loop: true,
			loopAdditionalSlides: 2,
			watchSlidesProgress: true,
			pagination: {
				el: '.projects-slider__fraction',
				type: "fraction",
				renderFraction: function(currentClass, totalClass) {					
					return '<span class="' + currentClass + '"></span> ' + 'из' + ' <span class="' + totalClass + '"></span>';
				},
			},
			navigation: {
				nextEl: '.projects-slider__arrow-next',
				prevEl: '.projects-slider__arrow-prev',
			},
			breakpoints: {
				1200: {
					slidesPerView: 3,
				},
				575: {
					slidesPerView: 'auto',
				},
				320: {
					slidesPerView: 1,
					spaceBetween: 10,
				}
			}
		});

		const swiperTwo = new Swiper('.our-customers__container', {
			slidesPerView: 3,
			spaceBetween: 0,
			loop: true,
			loopAdditionalSlides: 2,
			watchSlidesProgress: true,
			pagination: {
				el: '.our-customers__fraction',
				type: "fraction",
				renderFraction: function(currentClass, totalClass) {
					return '<span class="' + currentClass + '"></span> ' + 'из' + ' <span class="' + totalClass + '"></span>';
				},
			},
			navigation: {
				nextEl: '.our-customers__arrow-next',
				prevEl: '.our-customers__arrow-prev',
			},
			breakpoints: {
				1200: {
					slidesPerView: 3,
				},
				575: {
					slidesPerView: 'auto',
					loopedSlides: 2,
				},
				320: {
					slidesPerView: 1,
				}
			}
		});		

    (function () {
			let arrModalField = [];
			const formCall = document.querySelector('.call-form');
			const formCallField = formCall.querySelectorAll('input, textarea');
			const formCallAction = formCall.getAttribute('action');
      console.log('Путь отправки: ' + formCallAction);
			
      formCall.addEventListener('submit', function (e) {
				e.preventDefault();

				arrModalField.splice(0, arrModalField.length);
				
				formCallField.forEach(function(item) {
					let fieldInfo = {
						nameField: '',
						value: '',
						checked: '',
					};


					if(item.getAttribute('type') === 'checkbox') {
						fieldInfo.nameField = item.getAttribute('name');
						if (item.checked) {
							fieldInfo.checked = true;
						} else {
							fieldInfo.checked = false;
						}
					} else {
						fieldInfo.nameField = item.getAttribute('name');
						fieldInfo.value = item.value;
					}

					console.log(fieldInfo);

					arrModalField.push(fieldInfo);
				});

				console.log(arrModalField);

				axios({
					method: 'post',
					url: formCallAction,
					data: {arrModalField}
				}).then(function (response) {
					console.log(response);
				}).catch(function (error) {
					console.log(error);
				});
      })
    })();

		
		
	</script>
{% endblock %}