{% extends "__layout.njk" %}

{% block Link %}
{% endblock %}

{% block Header %}

{% endblock %}

{% block Content %}
	<section class="bread-crumbs">
		<div class="container">
			<ul class="bread-crumbs__list">
				<li class="bread-crumbs__item"><a href="#" class="bread-crumbs__link">Главная</a><svg><use xlink:href="img/sprite.svg#bread-crumbs-arrow"></svg></li>
				<li class="bread-crumbs__item"><span class="bread-crumbs__link bread-crumbs__link--active">Разработка специальных разделов проектной документации</span></li>
			</ul>
		</div>
	</section>
	<section class="container">
		<div class="row-title row-title--up-inner">
			<h2 class="title">Разработка специальных разделов проектной документации</h2>
		</div>
	</section>	
  
  <section class="area-content wrap-offset">
    <div class="container">
      <div class="area-content__wrapper area-container">
        <img src="img/img1.jpg" alt="">
        <p>До строительства Краснодарского водохранилища низменные земли вдоль р. Кубани нередко подвергались катастрофическим навод­нениям. Попытки защитить жилые, хозяйственные строения и сельхозугодья с помощью примитивных сооружений из подручных средств желаемого результата не давали. Убытки исчислялись многими миллионами рублей.</p>
        <p>За обозримую историю Кубани было зафиксировано более 100 катастрофических наводнений на р. Кубани, которые наносили огромный ущерб населению и экономике края. Бороться с наводнениями начали еще во второй половине XIX столетия путем строительства огради­тельных валов и дамб. Работы велись эпизодически при отсутствии проектной документации и производительной строительной техники. Катастрофический паводок 1966 года стал последним аргументом в пользу строительства Краснодарского водохранилища. В 1967 работы были начаты и в 1975 году водохранилище введено в эксплуатацию. С тех пор оно успешно предотвращает крупные наводнения в низовьях р. Кубани и по степени эффективности является одним из наиболее значимых водохозяйственных объектов в нашей стране.</p>
				<ul>
					<li>пример выполненной работы по проекту;</li>
					<li>пример выполненной работы по проекту она может быть длинной;</li>
					<li>пример выполненной работы по проекту;</li>
				</ul>
      </div>
    </div>
  </section>
	<section class="services-sect wrap-last-offset">
		<div class="container">
			<div class="services-sect__wrapper grid-three-columns">
        {{ mixin.servicesBlock('Охрана окружающей среды и ОВОС') }}
        {{ mixin.servicesBlock('Инженерно-технические мероприятия гражданской обороны, мероприятия по предупреждению чрезвычайных ситуаций') }}
        {{ mixin.servicesBlock('Инженерная защита территорий зданий и сооружений от опасных природных и техногенных процессов') }}

        {{ mixin.servicesBlock('Системы наружного и внутреннего противопожарного водоснабжения') }}
        {{ mixin.servicesBlock('Организация строительства') }}
        {{ mixin.servicesBlock('Сметная документация') }}

        {{ mixin.servicesBlock('Эффективность инвестиций') }}
        {{ mixin.servicesBlock('Обследование технического состояния зданий и сооружений') }}
			</div>
		</div>
	</section>
	{% include "include/modal.njk" %}
{% endblock %}

{% block Scripts %}
{% endblock %}