{% extends "__layout.njk" %}

{% block Content %}

<div class="container" style="padding: 100px 15px; display: flex; flex-direction: column; align-items: flex-start;">
    <a href="index.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Главная</a>
    <a href="about-the-institute.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Об институте</a>
    <a href="services.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Направления Услуги</a>
    <a href="projects.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Проекты </a>
    <a href="contacts.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Контакты </a>
    <a href="404.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">404 </a>
    <a href="contests.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Участие в конкурсах </a>
    <a href="discussions.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Общественные обсуждения</a>
    <a href="projects-inner.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">проект варинта первый</a>
    <a href="projects-inner2.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">проект варинта второй</a>
    <a href="reviews.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Отзывы</a>
    <a href="search-result.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Результат поиска</a>
    <a href="service-page.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Страница услуги</a>
    <a href="story.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Страницы истории</a>

</div>

{% endblock %}