{% extends "__layout.njk" %}

{% block Content %}

<div class="container" style="padding: 100px 15px; display: flex; flex-direction: column; align-items: flex-start;">
    <a href="index.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Главная</a>
    <a href="gallery.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Галерея</a>
    <a href="gallery-inner.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Галерея внутреняя</a>
    <a href="structure-page.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Структура администрации</a>
    <a href="human-inner.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Страница руководителя</a>
    <a href="news-list.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Новости</a>
    <a href="news-inner.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Новости - внутреняя страница</a>
    <a href="text-page.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Текстовая страница</a>

    <a href="404.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">404</a>
    <a href="appeal-form.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Обращение</a>
    <a href="communication.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Связь с администрацией</a>
    <a href="department-of-architecture.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Департамент архитектуры и градостроительства</a>
    <a href="documentation-inner.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Заключение о результатах публичных слушаний по проекту решения городской Думы Краснодара «О внесении изменений в Устав муниципального образования город Краснодар»</a>
    <a href="documentation-page.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Документы администрации</a>
    <a href="faq-page.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Часто задаваемые вопросы</a>
    <a href="honorary-citizens.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Почетные граждане, руководители, герои</a>
    <a href="online-conference.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Онлайн-конференция - 1</a>
    <a href="online-conference-two.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Онлайн-конференция - 2</a>
    <a href="partner-cities.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Города-побратимы и города-партнёры</a>
    <a href="popular-services.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Неэлектронные услуги</a>
    <a href="requests.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Приём официальных обращений граждан</a>
    <a href="search-page.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Результаты поиска</a>
    <a href="structural-units.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Структурные подразделения администрации</a>
    <a href="table-page.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">График приёма избирателей депутатами городской Думы Краснодара VII созыва</a>
    <a href="transport.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Транспорт (36)</a>
    <a href="upcoming-conferences.html" target="_blank" style="margin-bottom: 60px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Предстоящие конференции</a>

    <h2 style="padding-top: 60px;border-top: 2px solid #000;font-size: 40px;text-transform: uppercase;margin-bottom: 20px;width: 100%;">Новые страницы:</h2>
    <a href="bargaining.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Открытый конкурс для привлечения подрядных организаций (2012 год)</a>
    <a href="dictionary.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;"> Словарь сокращений и аббревиатур</a>
    <a href="registry.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Реестр субъектов малого и среднего предпринимательства – получателей поддержки</a>

</div>

{% endblock %}