{% extends "__layout.njk" %}

{% block Content %}

<div class="container" style="padding: 100px 15px; display: flex; flex-direction: column; align-items: flex-start;">
    <a href="index.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Главная</a>
    <a href="about-the-institute.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Об институте</a>
    <a href="services.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Направления Услуги</a>
    <a href="projects.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Проекты </a>
    <a href="contacts.html" target="_blank" style="margin-bottom: 20px; display: block; font-size: 30px; font-weight: 700; text-transform: uppercase;">Контакты </a>

</div>

{% endblock %}