.first-screen {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 25, 102, 0.35), rgba(0, 25, 102, 0.35));
    z-index: 1;
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  &__container {
    padding: 97px 0 80px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 88px);
    align-items: center;
  }

  &__title {
    font-size: 96px;
    line-height: 120px;
    text-align: center;
    color: #D9F4FF;
    @media (max-width:1200px) {
			font-size: 64px;
      line-height: normal;
		}

    img {
      display: inline;
    }
  }

  &__scroll-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      color: #FFFFFF;
      margin-bottom: 20px;
      display: block;
    }
  }
}

.arrow-scroll {
  width: 56px;
  height: 56px;
  background-color: #174EFF;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: 0 0 0 4px #174EFF;
  }
  svg {
    width: 18px;
    height: 18px;
    stroke: #fff;
  }
}