<div class="footer-page">
	<div class="container">
		<div class="footer-page__cotainer">
			<div class="footer-page__up">
				<div class="footer-page__left">
					<span class="footer-page__text">Краснодар, ул. Красная, 180</span>
					<a href="tel:+78612537335" class="footer-page__tel">+7 (861) 253-73-35,</a>
					<a href="tel:+78612537374" class="footer-page__tel">+7 (861) 253-73-74</a>
					<a href="mailto:kubvodpro@rambler.ru" class="footer-page__mail">kubvodpro@rambler.ru</a>
				</div>
				<div class="footer-page__right"></div>
			</div>
		</div>
	</div>
</div>