<div class="page-header">
	<div class="container">
		<div class="page-header__wrapper">
			<div class="page-header__left">
				<div class="logo">
					<img src="img/svg-min/logo.svg" alt="">
					<div class="logo__flex">
						<span class="logo__text">Кубаньводпроект</span>
						<span class="page-header__sm-text">проектно-изыскательский институт</span>
					</div>
				</div>
			</div>
			<div class="page-header__right">
				<a href="#" class="tel">8 (861) 253-73-35</a>
				<button class="block-btn btn-tel" data-click-modal="call-modal">
					<span class="block-btn__text block-btn__text--white">ЗАКАЗАТЬ ЗВОНОК</span>
					<svg>
						<use xlink:href="img/sprite.svg#tel">
					</svg>
				</button>
				<div class="change-language">
					<span class="change-language__text">EN</span>
				</div>
				<div class="wrap-search">
					<div class="search-field">
						<form action="" class="search-field__form">
							<div class="search-field__wrap">
								<label class="search-field__wrap-field">
									<svg><use xlink:href="img/sprite.svg#search-icon"></svg>
									<input type="text" class="search-field__input">
								</label>
								<button class="search-field__btn">
									<span class="search-field__text">НАЙТИ</span>
								</button>
							</div>
						</form>
					</div>
					<div class="search-icon">
						<div class="search-icon__wrap">
							<svg><use xlink:href="img/sprite.svg#search-icon"></svg>
						</div>
					</div>
				</div>
				<div class="burger">
					<div class="burger__line"></div>
					<div class="burger__line"></div>
					<div class="burger__line"></div>
				</div>
			</div>
		</div>
		<nav class="navigation">
			<ul class="navigation__list">
				<li class="navigation__item">
					<a href="" class="navigation__link">ИНСТИТУТ</a>
					<ul class="dropdown">
						<li class="dropdown__item"><a href="" class="dropdown__link">Об институте</a></li>
						<li class="dropdown__item"><a href="" class="dropdown__link">Страницы истории</a></li>
						<li class="dropdown__item"><a href="" class="dropdown__link">Участие в конкурсах</a></li>
						<li class="dropdown__item"><a href="" class="dropdown__link">Коллектив</a></li>
					</ul>
				</li>
				<li class="navigation__item">
					<a href="" class="navigation__link">УСЛУГИ</a>
					<ul class="dropdown">
						<li class="dropdown__item"><a href="" class="dropdown__link">Об институте</a></li>
						<li class="dropdown__item"><a href="" class="dropdown__link">Страницы истории</a></li>
					</ul>
				</li>
				<li class="navigation__item">
					<a href="" class="navigation__link">ПРОЕКТЫ</a>
					<ul class="dropdown">
						<li class="dropdown__item"><a href="" class="dropdown__link">Об институте</a></li>
						<li class="dropdown__item"><a href="" class="dropdown__link">Страницы истории</a></li>
						<li class="dropdown__item"><a href="" class="dropdown__link">Участие в конкурсах</a></li>
						<li class="dropdown__item"><a href="" class="dropdown__link">Коллектив</a></li>
					</ul>
				</li>
				<li class="navigation__item">
					<a href="" class="navigation__link">Контакты</a>
					<ul class="dropdown">
						<li class="dropdown__item"><a href="" class="dropdown__link">Об институте</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>

	<div class="mob-menu">
		<div class="mob-menu__container">
			<div class="mob-menu__up">
				<ul class="mob-menu-list">
					<li class="mob-menu-list__item">
						<div class="mob-menu-list__up">
							<a href="#" class="mob-menu-list__link">Институт</a>
							<svg><use xlink:href="img/sprite.svg#down-arrow"></svg>
						</div>
						<ul class="mob-menu-dropdown">
							<li class="mob-menu-dropdown__item"><a href="#" class="mob-menu-dropdown__link">Об институте</a></li>
							<li class="mob-menu-dropdown__item"><a href="#" class="mob-menu-dropdown__link">Страницы истории</a></li>
							<li class="mob-menu-dropdown__item"><a href="#" class="mob-menu-dropdown__link">Участие в конкурсах</a></li>
							<li class="mob-menu-dropdown__item"><a href="#" class="mob-menu-dropdown__link">Карьера</a></li>
						</ul>
					</li>
					<li class="mob-menu-list__item">
						<div class="mob-menu-list__up">
							<a href="#" class="mob-menu-list__link">Институт</a>
							<svg><use xlink:href="img/sprite.svg#down-arrow"></svg>
						</div>
						<ul class="mob-menu-dropdown">
							<li class="mob-menu-dropdown__item"><a href="#" class="mob-menu-dropdown__link">Об институте</a></li>
							<li class="mob-menu-dropdown__item"><a href="#" class="mob-menu-dropdown__link">Страницы истории</a></li>
							<li class="mob-menu-dropdown__item"><a href="#" class="mob-menu-dropdown__link">Участие в конкурсах</a></li>
							<li class="mob-menu-dropdown__item"><a href="#" class="mob-menu-dropdown__link">Карьера</a></li>
						</ul>
					</li>
					<li class="mob-menu-list__item">
						<div class="mob-menu-list__up">
							<a href="#" class="mob-menu-list__link">Институт</a>
							<svg><use xlink:href="img/sprite.svg#down-arrow"></svg>
						</div>
						<ul class="mob-menu-dropdown">
							<li class="mob-menu-dropdown__item"><a href="#" class="mob-menu-dropdown__link">Об институте</a></li>
							<li class="mob-menu-dropdown__item"><a href="#" class="mob-menu-dropdown__link">Страницы истории</a></li>
							<li class="mob-menu-dropdown__item"><a href="#" class="mob-menu-dropdown__link">Участие в конкурсах</a></li>
							<li class="mob-menu-dropdown__item"><a href="#" class="mob-menu-dropdown__link">Карьера</a></li>
						</ul>
					</li>
					<li class="mob-menu-list__item">
						<div class="mob-menu-list__up">
							<a href="#" class="mob-menu-list__link">Институт</a>
							<svg><use xlink:href="img/sprite.svg#down-arrow"></svg>
						</div>
						<ul class="mob-menu-dropdown">
							<li class="mob-menu-dropdown__item"><a href="#" class="mob-menu-dropdown__link">Об институте</a></li>
							<li class="mob-menu-dropdown__item"><a href="#" class="mob-menu-dropdown__link">Страницы истории</a></li>
							<li class="mob-menu-dropdown__item"><a href="#" class="mob-menu-dropdown__link">Участие в конкурсах</a></li>
							<li class="mob-menu-dropdown__item"><a href="#" class="mob-menu-dropdown__link">Карьера</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="mob-menu__down">
				<a href="#" class="tel">8 (861) 253-73-35</a>
				<button class="block-btn" data-click-modal="call-modal">
					<span class="block-btn__text block-btn__text--white">ЗАКАЗАТЬ ЗВОНОК</span>
				</button>
			</div>
		</div>
	</div>
</div>