<div class="modal" id="call-modal">
	<div class="modal__overlay">
		<div class="modal__block modal__block--default">
			<div class="modal__up">
				<h4 class="modal__caption">Заказать звонок</h4>
				<div class="close">
					<div class="close__wrap"></div>
				</div>
			</div>
			<div class="modal__down">
				<div class="modal__content">
					<form class="call-form">
						<div class="call-form__wrapper">
							<label class="field">
								<span class="field__description">Ваше Имя:</span>
								<input type="text" placeholder="Введите имя">
							</label>
							<label class="field">
								<span class="field__description">Телефон:</span>
								<input type="tel" placeholder="+7 (___) ___-__-__">
							</label>
						</div>
						<div class="call-form__down">
							<div class="check">
								<label>
									<input type="checkbox">
									<div class="check__icon"></div>
								</label>								
								<span>Согласен(на) на <a href="#">обработку персональных данных</a></span>
							</div>
							<button class="block-btn-two">
								<div class="block-btn-two__animate"></div>
								<span>ОТПРАВИТЬ</span>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

