<div class="modal" id="calendar">
	<div class="modal__overlay">
		<div class="modal__block modal-calendar">
			<div class="modal__up">
				<h4 class="modal__caption">Календарь</h4>
				<span class="close"></span>
			</div>
			<div class="modal__down">
				<div class="modal__content">
					<div class="calendar tab-wrapper">
						<div class="calendar__up">
							<div class="calendar__item active-item-tab" data-nametabs="date">
								<svg>
									<use xlink:href="img/sprite.svg#svg--date"></use>
								</svg>
								<span>Выбор даты</span>
							</div>
							<div class="calendar__item" data-nametabs="period">
								<svg>
									<use xlink:href="img/sprite.svg#svg--period"></use>
								</svg>
								<span>Выбор периода</span>
							</div>
						</div>
						<div class="calendar__down">
							<div class="calendar__tab tab-block tab-block--active" data-tabcontent="date">
								<input type="text" class="calendar__field calendar__field-date" placeholder="Пожалуйста выберите дату" id="date1">
								<button class="btn-white btn-cancel">
									<span class="btn-white__text">Отмена</span>
								</button>
							</div>
							<div class="calendar__tab tab-block tab-block--period flatpickr" data-tabcontent="period">
								<input type="text" class="calendar__field calendar__field-period" placeholder="Пожалуйста выберите период" id="period1">
								<button class="btn-white btn-cancel">
									<span class="btn-white__text">Отмена</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

