.logo {
	display: flex;
	align-items: center;

	img {
		width: 48px;
		flex-shrink: 0;
		margin-right: 14px;

		@media (max-width: 575px) {
			width: 36px;
			margin-right: 10px;
		}
	}

	&__flex {
		display: flex;
		align-items: center;

		@media (max-width:1280px) {
			display: block;

			span {
				display: block;
			}
		}
	}

	&__text {
		font-weight: bold;
		font-size: 32px;
		line-height: 40px;
		color: #fff;

		@media (max-width: 1280px) {
			line-height: 32px;
		}

		@media (max-width: 575px) {
			font-size: 20px;
			line-height: 32px;
		}
	}
}

.tel {
	font-size: 16px;
	line-height: normal;
	font-weight: bold;
	color: #FFFFFF;
	display: inline-block;

	@media (max-width: 767px) {
		display: none;
	}

	&:hover {
		color: #fff;
	}

	&--black {
		color: #13151B;

		&:hover {
			color: #13151B;
		}
	}
}

.block-btn {
	background-color: transparent;
	border: 1px solid rgba($color: #fff, $alpha: 0.3);
	padding: 10px 20px 11px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;

	&:hover {
		background-color: #FFFFFF;
		border-color: #fff;

		span {
			color: #18A0FB;
		}
	}

	&__text {
		font-weight: bold;
		font-size: 12px;
		line-height: normal;
		transition: all 0.3s ease-in-out;
		pointer-events: none;

		&--white {
			color: #fff;
		}

		&--blue {
			color: #18A0FB;
		}
	}
}

.scroll-header {
	border-bottom: 1px solid #E2E5EA;
	margin-bottom: 58px;

	@media (max-width: 1023px) {
		display: none;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		padding: 11px 0 13px;
	}

	&__left {
		align-items: center;

		.logo {
			img {
				width: 42px;
				margin-right: 22px;
			}

			&__text {
				color: #13151B;
				font-size: 24px;
				line-height: 32px;
			}
		}
	}

	&__right {
		display: flex;
		align-items: center;

		.block-btn {
			border-color: #E2E5EA;
			margin-left: 15px;

			&:hover {
				background-color: #18A0FB;

				.block-btn__text {
					color: #fff;
				}
			}
		}
	}
}

.title {
	font-weight: bold;
	font-size: 48px;
	line-height: 56px;
	color: #13151B;
	position: relative;
	padding-bottom: 22px;
	margin-bottom: 31px;

	@media (max-width: 575px) {
		font-weight: bold;
		font-size: 32px;
		line-height: 40px;
		padding-bottom: 15px;
		margin-bottom: 25px;
	}

	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 80px;
		height: 2px;
		background-color: #174EFF;
	}
}

.prevue-block {
	border: 1px solid #E2E5EA;
	margin-bottom: -1px;
	margin-right: -1px;

	@media (max-width: 575px) {
		margin-right: 0;
	}

	&:hover {
		.prevue-block__bg {
			opacity: 1;
			box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.2);
			transform: scale(1.03);

			@media (max-width: 1023px) {
				transform: scale(1);
				opacity: 0;
				box-shadow: 0 0 0 transparent;
			}
		}

		.prevue-block__caption {
			color: #fff;

			@media (max-width: 1023px) {
				color: #13151B;
			}
		}

		svg {
			stroke: #fff;

			@media (max-width: 1023px) {
				stroke: #174EFF;
			}
		}

		.btn-more {
			opacity: 1;
		}
	}

	&__wrapper {
		display: grid;
		height: 100%;

		@media (max-width: 1023px) {
			min-height: 200px;
		}

		@media (max-width: 575px) {
			min-height: inherit;
		}
	}

	&__bg {
		grid-area: 1/1/2/2;
		opacity: 0;
		transition: all 0.3s ease-in-out;
		position: relative;

		@media (max-width: 1023px) {
			display: none;
		}

		// &::before {
		// 	content: "";
		// 	position: absolute;
		// 	left: 0;
		// 	right: 0;
		// 	bottom: 0;
		// 	top: 0;
		// 	background: linear-gradient(0deg, rgba(4, 18, 63, 0.5), rgba(4, 18, 63, 0.5));
		// }
	}

	picture {
		height: 100%;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	&__wrap {
		grid-area: 1/1/2/2;
		position: relative;
		z-index: 1;
		padding: 30px 30px 32px;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-between;
		position: relative;
		z-index: 1;

		@media (max-width: 1023px) {
			padding: 30px 30px 28px;
		}

		@media (max-width: 575px) {
			padding: 26px 24px 18px;
		}
	}

	&__up {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 40px;

		@media (max-width: 1023px) {
			margin-bottom: 15px;
		}

		@media (max-width: 575px) {
			margin-bottom: 15px;
		}

		.btn-more {
			opacity: 0;
			transition: all 0.3s ease-in-out;

			&__text {
				color: #fff;

				@media (max-width: 575px) {
					color: #13151b;
				}
			}

			&__square {
				margin-right: 0;
				margin-left: 12px;
			}
		}
	}

	svg {
		stroke: #174EFF;
		stroke-width: 2px;
		width: 45px;
		height: 45px;
		transition: all 0.3s ease-in-out;
	}

	&__caption {
		font-weight: bold;
		font-size: 20px;
		line-height: 28px;
		color: #13151B;
		transition: all 0.3s ease-in-out;

		@media (max-width: 575px) {
			font-size: 18px;
			line-height: 25px;
		}
	}
}

.btn-more {
	display: inline-flex;
	align-items: center;
	// сначала скрыта потом вернуть 
	display: none !important;

	&:hover {
		.btn-more__square {
			box-shadow: 0 0 0 4px #18A0FB;
		}
	}

	&__text {
		font-weight: bold;
		font-size: 12px;
		line-height: normal;
		color: #13151B;
		text-transform: uppercase;
	}

	&__square {
		width: 24px;
		height: 24px;
		background-color: #18A0FB;
		margin-right: 12px;
		position: relative;
		transition: all 0.2s ease;
		box-shadow: 0 0 0 0 transparent;

		&::before {
			content: "";
			position: absolute;
			left: calc(50% - 1px);
			top: calc(50% - 6px);
			width: 2px;
			height: 12px;
			background-color: #fff;
		}

		&::after {
			content: "";
			position: absolute;
			left: calc(50% - 6px);
			top: calc(50% - 1px);
			width: 12px;
			height: 2px;
			background-color: #fff;
		}
	}
}

.line-up {
	width: 100%;
	height: 1px;
	background-color: #E2E5EA;
	margin-bottom: 55px;
	display: block;

	@media (max-width: 575px) {
		margin-bottom: 15px;
	}
}

.aray-text {
	blockquote {
		font-weight: 500;
		font-size: 22px;
		line-height: 32px;
		color: #13151B;
		padding-bottom: 56px;
		border-bottom: 1px solid #E2E5EA;
		margin-bottom: 50px;

		@media (max-width: 575px) {
			font-size: 18px;
			line-height: 25px;
			padding-bottom: 20px;
			margin-bottom: 15px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	p {
		font-size: 18px;
		line-height: 28px;
		color: #4F5054;
		margin-bottom: 30px;

		@media (max-width: 575px) {
			font-size: 16px;
			line-height: 25px;
			margin-bottom: 15px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.info-post {
	margin-bottom: 32px;

	@media (max-width: 1023px) {
		margin-bottom: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	svg {
		width: 46px;
		height: 46px;
		stroke: #174EFF;
		stroke-width: 2px;
		margin-bottom: 17px;

		@media (max-width: 575px) {
			margin-bottom: 10px;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		color: #13151B;
		position: relative;
		padding-bottom: 16px;
		margin-bottom: 17px;

		@media (max-width: 575px) {
			font-size: 20px;
			line-height: 30px;
			padding-bottom: 13px;
			margin-bottom: 15px;
		}

		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			height: 1px;
			width: 32px;
			background-color: #0B40E8;
		}
	}

	&__text {
		font-size: 14px;
		line-height: 20px;
	}
}

.prevue-block-two {
	height: 100%;
	transition: all 0.3s ease-in-out;

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		height: 100%;
	}

	&__wrap-img {
		position: relative;
		z-index: 1;
	}

	img {
		width: 100%;
	}

	&__wrap {
		margin-top: -16px;
		padding: 0 32px 32px;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border: 1px solid #E2E5EA;
		border-top: none;
		background-color: #fff;

		@media (max-width: 1023px) {
			padding: 0 24px 32px;
		}
	}

	.category {
		margin-bottom: 19px;
		position: relative;
		z-index: 2;

		@media (max-width: 575px) {
			margin-bottom: 9px;
		}
	}

	&__up {
		// сначала убрать отступ потом вернуть
		// margin-bottom: 28px;
		flex-grow: 1;
	}

	&__caption {
		font-weight: bold;
		font-size: 20px;
		line-height: 28px;
		color: #13151B;
		margin-bottom: 12px;

		@media (max-width: 575px) {
			font-size: 18px;
			line-height: 25px;
			margin-bottom: 5px;
		}
	}

	&__text {
		font-size: 16px;
		line-height: 20px;
		color: #8E8F93;

		@media (max-width: 575px) {
			font-size: 14px;
			line-height: normal;
		}
	}
}


.category {
	font-weight: bold;
	font-size: 12px;
	line-height: normal;
	color: #FFFFFF;
	padding: 8.5px 15px;
	display: inline-block;
	background-color: #174EFF;
	transition: all 0.3s ease-in-out;

	&:hover {
		box-shadow: 0 0 0 4px #174EFF;
	}

	&:hover {
		color: #fff;
	}
}

.slider-navigation {
	display: flex;
	align-items: center;

	&__wrap-arrow {
		display: flex;
		margin-right: 16px;

		@media (max-width: 575px) {
			margin-right: 10px;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.arrow-slider {
	width: 56px;
	height: 56px;
	background-color: #fff;
	border: 1px solid #E2E5EA;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.3s ease-in-out;

	@media (max-width: 575px) {
		width: 45px;
		height: 45px;
	}

	&:hover {
		background-color: #18A0FB;

		svg {
			stroke: #fff;
		}
	}

	&--prev {
		margin-right: -1px;

		svg {
			transform: rotate(180deg);
		}
	}

	svg {
		width: 10px;
		height: 18px;
		stroke: #13151B;
		stroke-width: 2px;
		transition: all 0.3s ease-in-out;
		pointer-events: none;
	}
}

.fraction-slider {
	pointer-events: none;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
	color: #4F5054;
	text-transform: uppercase;
	width: auto;

	span {
		font-weight: bold;
		font-size: 12px;
		line-height: 16px;
		color: #4F5054;
	}
}

.row-title {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	@media (max-width: 575px) {
		display: block;
		margin-bottom: 25px;

		.title {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.slider-navigation {
		margin-top: 4px;
	}
}

.customers-block {
	border: 1px solid #E2E5EA;
	margin-right: -1px;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		background-color: #fff;
		transition: all 0.3s ease-in-out;
	}

	&:hover {
		z-index: 1;

		@media (max-width: 575px) {
			z-index: inherit;
		}

		&::before {
			left: -4px;
			top: -4px;
			bottom: -4px;
			right: -4px;
			box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.2);

			@media (max-width: 575px) {
				display: none;
			}
		}
	}

	&__wrapper {
		padding: 33px 32px;
		height: 100%;
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 1;

		@media (max-width: 575px) {
			padding: 25px 20px;
		}
	}

	&__wrap-img {
		margin-bottom: 22px;

		@media (max-width: 575px) {
			margin-bottom: 18px;
		}
	}

	&__wrap {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__caption {
		font-weight: bold;
		font-size: 20px;
		line-height: 28px;
		color: #13151B;
		margin-bottom: 14px;
		transition: all 0.3s ease-in-out;

		@media (max-width: 575px) {
			font-size: 18px;
			line-height: 25px;
		}

		&:hover {
			color: #174EFF;
		}
	}
}

.social-list {
	display: flex;

	&__item {
		margin-right: 8px;

		@media (max-width: 575px) {
			margin-right: 15px;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		width: 56px;
		height: 56px;
		border: 1px solid rgba($color: #fff, $alpha: 0.2);
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease-in-out;

		@media (max-width: 575px) {
			width: 50px;
			height: 50px;
		}

		&:hover {
			background-color: #174EFF;
			border-color: #174EFF;
		}

		svg {
			fill: #fff;
			width: 16px;
			height: 16px;
		}
	}
}

.wrapper-scroll-header {
	position: relative;
}

.scroll-header {
	position: sticky;
	top: 0;
	background-color: #fff;
	z-index: 10;
}

.field {
	position: relative;

	&__description {
		font-size: 14px;
		line-height: 20px;
		color: #4F5054;
		position: relative;
		background-color: #fff;
		padding: 0 8px;
		position: absolute;
		top: -10px;
		left: 16px;
	}

	input {
		width: 100%;
		border: 1px solid #E2E5EA;
		background-color: #fff;
		font-size: 18px;
		line-height: 28px;
		color: #13151B;
		padding: 9px 24px;
		transition: all 0.3s ease-in-out;

		&:hover {
			border-color: #343b57;
		}

		&:focus {
			border-color: #343b57;
		}

		&::placeholder {
			font-weight: normal;
			font-size: 18px;
			line-height: 28px;
			color: #8E8F93;
		}
	}
}

.check {
	display: flex;
	align-items: center;

	input {
		display: none;
	}

	&__icon {
		width: 24px;
		height: 24px;
		position: relative;
		border: 1px solid #E2E5EA;
		background-color: #fff;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		flex-shrink: 0;
		margin-right: 16px;

		&:hover {
			border-color: #343b57;
		}

		&::before {
			content: '';
			position: absolute;
			left: calc(50% - 6px);
			top: calc(50% - 6px);
			background-image: url(../img/svg-min/check-icon.svg);
			background-repeat: no-repeat;
			width: 12px;
			height: 12px;
			background-size: contain;
			background-position: center;
			opacity: 0;
			transition: all 0.3s ease-in-out;
		}
	}

	input:checked+&__icon {
		background-color: #174EFF;
		border-color: #174EFF;

		&::before {
			opacity: 1;
		}
	}


	span {
		font-size: 16px;
		line-height: 24px;
		color: #4F5054;

		@media (max-width: 767px) {
			font-size: 14px;
			line-height: 22px;
		}
	}

	a {
		font-size: 16px;
		line-height: 24px;
		color: #174EFF;
		border-bottom: 1px solid transparent;
		transition: all 0.3s ease-in-out;
		@media (max-width: 767px) {
			font-size: 14px;
			line-height: 22px;
		}

		&:hover {
			border-color: #174EFF;
			color: #174EFF;
		}
	}
}

.block-btn-two {
	background-color: #174EFF;
	transition: all 0.3s ease-in-out;
	padding: 16px 24px 16px 24px;
	position: relative;
	cursor: pointer;
	align-self: center;
	display: block;
	white-space: normal;

	&:hover {
		background-color: #0B40E8;

		.block-btn-two__animate {
			&::before {
				width: 100%;
			}
		}

		span {
			color: #0B40E8;
		}
	}

	&__animate {
		position: absolute;
		right: 8px;
		top: 8px;
		bottom: 8px;
		left: 8px;

		&::before {
			content: "";
			position: absolute;
			width: 2px;
			height: 100%;
			right: 0;
			background-color: #fff;
			transition: all 0.3s ease-in-out;
		}
	}

	span {
		font-weight: bold;
		font-size: 14px;
		line-height: 24px;
		color: #FFFFFF;
		position: relative;
		z-index: 1;
		transition: all 0.3s ease-in-out;
	}
}